// main font colour
$primaryColor: #4c76ba;
$secondaryColor: #4d658b;
$tertiaryColor: #315896;

// alternative colors
$darkColor: #06090f;
$lightColor: #d1e2ff;

// accent colors
$accentColor: rgb(37, 180, 173);
$accentDarkColor: rgb(24, 122, 118);

// atr colors
$brute: #772828;
$resist: #283777;
$life: #287753;
$dmg: #772873;
$crit: #287577;
$acc: #777528;

// labels
$label-image-width: 175px;

$species-image-height: 228px;
$weapon-image-height: 175px;
$info: 25px;
