// main font colour
$mainColor: #4c76ba;

//background color
$backgroundColor: #0e1726;

//link color
$inactiveLinkColor: #2c3e50;
$linkColor: #7c8ca8;

// atr colors
$brute: #772828;
$resist: #283777;
$life: #287753;
$dmg: #772873;
$crit: #287577;
$acc: #777528;
